<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- <p v-if="num > 0.5">大于0.5</p>
            <p v-else>小于== 0.5</p> -->
            <!-- <hr /> -->
            <!--  v-if  v-else 一定需要 紧挨着-->

            <p v-if="num>0.7">大于0.7</p>
            <p v-else-if="num>0.4">大于0.4</p>
            <p v-else>小于0.4</p>
            <!-- 类似于 v-else，v-else-if 也必须紧跟在带 v-if 或者 v-else-if 的元素之后。 -->

            <h1 v-if="bool">v-if</h1>
            <h1 v-show="bool">v-show</h1>
            <!-- 带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS property display -->
        </div>
        <script>
            new Vue({
                el: "#app",
                data: {
                    num: Math.random(),
                    bool: true
                },
            });
        </script>
    </body>
</html>
